/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');
/*Global Styles*/

/*Header Styles*/
.logo-img{
  height: 70px;
}
.logo-text{
  font-family: 'Satisfy', cursive;
  color: #FF827B;
}
/*End Header Styles*/

/*Jumbotron Styles*/
.jumbotron{
  background-image: url('../img/hero.jpg');
  height: 450px;
  background-size: cover;
  background-position: center;
}
.hero-text{
  color: #fff;
  font-weight: 400;
}

/*Products Styles*/
.thumbnail{
  background-color: #EDF1F4;
  padding: 15px;
}

.product-img{
  padding: 0px 7.5px;
}
